<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>타임리프 예제</title>
</head>
<body>
<div class="container">
  <h2>About Me</h2>
  <img src="https://picsum.photos/600/300" alt="A beautiful image">
  <p>Hello, my name is John Doe. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra suscipit sapien, in rhoncus ex dapibus sed. Donec quis nisl dolor. Etiam interdum felis non velit maximus tempus. Aenean in turpis sit amet felis fringilla viverra at at enim. Sed tempor velit eu arcu rutrum, ac tempor sapien lacinia. Donec gravida justo eu magna malesuada, sit amet scelerisque risus lacinia. Etiam nec fringilla arcu.</p>

  <h2>My Hobbies</h2>
  <ul>
    <li>Playing video games</li>
    <li>Watching movies</li>
    <li>Traveling</li>
  </ul>
</div>
</body>
</html>
